@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>
        Welcome! I'm Nishu Chowdhury, a passionate educator, researcher, and software developer with a deep interest in Artificial Intelligence, Mobile App Development, and cutting-edge technologies.

        I hold a Bachelor's and Master's degree in Computer Science and Engineering from the University of Science and Technology Chittagong (USTC) and Chittagong University of Engineering Technology (CUET). Currently, I am a Lecturer in the CSE Department, where I teach programming and AI courses, guiding students to excel in technology and research.

        My professional journey spans almost six years in software development, where I have designed and implemented diverse solutions, including ERP systems, E-commerce platforms, CRM tools, HR management systems, and inventory management systems. I am also actively involved in research, with notable contributions in areas like Skyline Path Query, Potato Leaf Disease Detection using Deep Learning, and Pneumonia Stage Analysis through Image Processing, culminating in publications in Scopus-indexed journals.

        Beyond academia and research, I am deeply invested in Mobile App Development and am exploring new horizons to blend innovation with usability in my projects.

        Feel free to explore my portfolio to see the projects I've worked on, my teaching endeavors, and my research achievements. Let's connect and create something extraordinary together!
    </p>
</div>
